* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-color: #007bff; /* Warna biru untuk latar belakang */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black; 
}
.balance {
    text-align: center;
    margin-bottom: 20px;
}
.balance h2 {
    font-size: 2em;
    color: #333;
}
.income-expense {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.income-expense div {
    text-align: center;
    flex: 1;
}
.income-expense h3 {
    margin-bottom: 5px;
    font-size: 1.2em;
}
.money {
    font-size: 1.5em;
}
.plus {
    color: green;
}
.minus {
    color: red;
}
.transaction-container {
    margin-bottom: 20px;
}
.transaction-container h3 {
    margin-bottom: 10px;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list .plus {
    border-left-color: green;
}
.list .minus {
    border-left-color: red;
}
.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 1.2em;
    cursor: pointer;
}
.add-transaction {
    margin-top: 20px;
}
.add-transaction h3 {
    margin-bottom: 10px;
    color: #fff; /* Warna teks putih */
}
.form-control {
    margin-bottom: 10px;
}
.form-control label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.form-control input, .form-control select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-control .radio-group {
    display: flex;
    justify-content: space-between;
}
.form-control .radio-group div {
    display: flex;
    align-items: center;
}
.form-control .radio-group label {
    margin-left: 5px;
    margin-right: 20px;
}
.btn {
    width: 100%;
    padding: 10px;
    background: #0056b3; /* Warna biru tua untuk tombol */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.btn:hover {
    background: #003f7f; /* Warna biru yang lebih tua saat tombol di-hover */
}
